@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Estilos Generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Nunito';
}

.dark {
    background: #0f172a;
    color: #94a3b8;
}

main {
    min-height: 100vh;
}

/* Estilos del Header y Footer */
.header {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    border-bottom: 1px solid #94a3b8;
}

.footer {
    box-shadow: 0 -10px 15px -3px rgb(0 0 0 / 0.1), 0 -4px 6px -4px rgb(0 0 0 / 0.1);
    border-top: 1px solid #94a3b8;
}

.dark-header, .dark-footer {
    background: rgb(30, 41, 59);
}

.menu {
    border-right: 1px solid #94a3b8;
}

.text-nav-light:hover, .text-logo-light:hover {
    color: rgb(13 148 136);
}

.text-nav-dark:hover, .text-logo-dark:hover {
    color: #0ea5e9;
}

/* Estilos de Home */
.dwn-btn-light:hover {
    background-color: rgb(20 184 166);
}

.dwn-btn-dark:hover {
    background-color: rgb(14 165 233);
}
